---
import MainBanner from '../components/MainBanner.astro';
import PackageCard from '../components/PackageCard.astro';
import SecondBanner from '../components/SecondBanner.astro';
import ThirdBanner from '../components/ThirdBanner.astro';
import packages from '../data/packages.json';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Domus Dei - Cerimonial">
  <MainBanner />
  <section class="bg-orange-100 py-12 relative">
    <div class="max-w-screen-lg mx-auto flex flex-col items-center justify-center">
      <div class="flex flex-col items-center gap-2 mb-8 max-w-sm">
        <h2 class="font-poppins font-[100] text-4xl text-black/80">Sobre</h2>
        <img
          src="images/decoration_1.png"
          alt="decoration_2"
          class="w-[200px] -mt-4"
        />

        <p
          class="font-light text-sm  hyphens-auto"
          lang="pt-br"
        >
          A Domus Dei Cerimoniais nasceu com um propósito claro: cuidar de
          pessoas em momentos únicos, com sensibilidade, excelência e
          profissionalismo.
        </p>

        <p
          class="font-light text-sm  hyphens-auto"
          lang="pt-br"
        >
          Somos apaixonados por transformar sonhos em experiências reais —
          respeitando histórias, crenças, tradições e desejos de cada cliente.
        </p>

        <p
          class="font-light text-sm  hyphens-auto"
          lang="pt-br"
        >
          Nosso objetivo é garantir que cada detalhe da sua cerimônia seja
          conduzido com harmonia e significado.
        </p>

        <p
          class="font-light text-sm hyphens-auto"
          lang="pt-br"
        >
          Assumimos a responsabilidade de planejar, organizar e executar com
          precisão, para que você viva o momento com plenitude, cercado apenas
          do que importa: amor, alegria e presença.
        </p>
      </div>

      <img src="images/decoration_2.png"  class="w-[120px] " />
    </div>
    
  </section>
  <SecondBanner />
  <section class="bg-orange-100 py-12">
    <div class="max-w-screen-lg mx-auto flex-col flex justify-center">
      <div class="flex flex-col items-center gap-2 mb-8">
        <h2 class="font-poppins font-[100] text-4xl text-black/80">
          Casamento
        </h2>
        <img
          src="images/decoration_1.png"
          alt="decoration_2"
          class="w-[200px] -mt-4"
        />

        <p
          class="font-thin text-sm max-w-[350px] text-center hyphens-auto"
          lang="pt-br"
        >
          Conheça nossos pacotes de casamento. Cada um é personalizado para
          atender às suas necessidades e expectativas.
        </p>
      </div>

      <div class="max-w-[840px] mx-auto grid grid-cols-1 md:grid-cols-3 gap-4">
        {
          packages.map((pkg) => (
            <PackageCard
              name={pkg.name}
              description={pkg.description}
              services={pkg.services}
              icon={pkg.icon}
            />
          ))
        }
      </div>
    </div>
  </section>
  <ThirdBanner />
</Layout>
