---
const { title, description, image, cta } = Astro.props;
---

<div class="p-4">
    <h1 class="text-4xl">{title}</h1>
    <p class="font-light">{description}</p>
    <div style={`background-image: url(${image})`} class="aspect-video bg-cover bg-center"></div>
    <button>{cta}</button>
</div>