---
import packages from '../data/packages.json';
import PackageCard from './PackageCard.astro';
---

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-4">
    {packages.map(pkg => (
      <PackageCard 
        name={pkg.name}
        price={pkg.price}
        description={pkg.description}
        services={pkg.services}
      />
    ))}
  </div>