---
interface Props {
  name: string;
  description: string;
  services: string[];
  icon: string;
}

const { description, services, icon, name } = Astro.props;
---

<div class="h-[400px]">
    <img src={icon} alt={name} class="block w-10 h-10 mx-auto mb-2" />
    <h3 class="font-poppins text-xl mb-3 text-center">{ name }</h3>
    
    <p class="text-xs font-thin hyphens-auto h-[54px]" lang="pt-br">
      {description}
    </p>

    <hr class="w-full border-t border-black/20 my-2">
    
    <h3 class="mb-2">O que está incluso?</h3>
    <ul class="text-xs list-disc list-inside space-y-1 font-thin">
      {
        services.slice(0, 6).map((service) => (
          <li class="gap-2">
            {service}
          </li>
        ))
      }
    </ul>
</div>
