---
import BannerBase from "./BannerBase.astro";
---

<BannerBase
  height="400px"
  title="Momentos únicos merecem cuidado e atenção nos detalhes."
  description="Deixe em nossas mãos as preocupações logísticas e organizacionais. Nosso objetivo é que você e seus convidados aproveitem cada segundo com alegria e tranquilidade."
  background="images/bg_3.jpg"
  cta={{
    text: "Saiba mais",
    link: ""
  }}
>
  <p slot="cta" class="max-w-[320px] font-poppins mt-4 text-sm">
    <a href="" class="text-orange-300 underline" data-aos="fade-up" data-aos-delay="500">Saiba mais</a> sobre como trabalhamos para tornar seu evento perfeito.
  </p>
</BannerBase> 