---
import BannerBase from "./BannerBase.astro";
---

<BannerBase
  height="400px"
  title="Você vive o momento. <br /> Nós cuidamos do resto."
  description="No grande dia, você não deveria se preocupar com cronogramas, fornecedores ou contratempos. Nossa equipe estará presente para garantir que tudo aconteça exatamente como você sonhou."
  background="images/bg_3.jpg"
  cta={{
    text: "Fale com nossa equipe agora",
    link: ""
  }}
>
  <p slot="cta" class="max-w-[320px] font-poppins mt-4 text-sm">
    Garanta tranquilidade no seu evento. <br /> 
    <a href="" class="text-orange-300 underline">Fale com nossa equipe agora.</a>
  </p>
</BannerBase> 