---
import BannerBase from "./BannerBase.astro";
---

<BannerBase
  height="40vh"
  title="Contratar um cerimonial é investir em paz, tempo e experiência."
  description="Muitos acreditam que é possível organizar tudo sozinhos — até que o estresse aparece. Um cerimonial profissional evita imprevistos, negocia com fornecedores e transforma ideias em realidade. O resultado? Um evento que flui com leveza e elegância."
  background="images/bg_2.jpg"
  cta={{
    text: "Descubra",
    link: ""
  }}
>
  <p slot="cta" class="max-w-[320px] font-poppins mt-4 text-sm">
    <a href="" class="text-orange-300 underline">Descubra</a> como podemos tornar seu evento inesquecível.
  </p>
</BannerBase> 