<div class="fixed top-0 left-0 right-0 z-50 py-3 bg-linear-to-b backdrop-blur-md from-black/80 to-black/30">
    <div class="max-w-screen-lg mx-auto">
        <div class="flex items-center justify-between">
            <img src="images/logo-60-vertical.svg" alt="Domus Dei" class="h-[48px]" />

            <div class="flex items-end gap-4">
                <nav class="flex font-kanit uppercase text-sm font-thin items-center gap-4 text-white">
                    <a href="" class="hover:text-orange-300">Início</a>
                    <a href="" class="hover:text-orange-300">Pacotes</a>
                    <a href="" class="hover:text-orange-300">Serviçoes</a>
                    <a href="" class="hover:text-orange-300">Contato</a>
                </nav>
            </div>
        </div>
    </div>
</div>
